header {
  background-color: #fafafa;
  width: 100%;
  height: 10vh;
  box-shadow: 1px 1px 10px #ddd;
  position: fixed;
}

header .bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #7be11a;
  transition:  0.3s;
  text-align: center;
  padding: .5em 0 .5em 0;
}

#blockIcons{
  background-color: #fff;
  margin-top: 1em;
}

header .bm-item .icon{
  color: #333;
  padding: .5em;
  font-size: 2rem;
}

header .bm-item .icon:hover{
  color: #7be11a;
  background-color: #fff;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
  text-decoration: underline;
  background-color: #7be11a;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 40px;
  height: 30px;
  left: 2em;
  top: 1.5em;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #7be11a;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2em 0;
  font-size: 1.6em;
}
